.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--color-text);
}

.input {
    padding: 0.5rem;
    border: 1px solid var(--color-text);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    outline: none;
}
